# Not index.html :-)
DirectoryIndex index

# Deny access to certain directories...
RedirectMatch 404 /.php/
RedirectMatch 404 /CVS/
RedirectMatch 404 ^/cgi-bin/$
RedirectMatch 404 /.cvsignore$

# Handle omission of the file extension
Options +MultiViews

# Peek into zip archives
Action application/zip /cgi-bin/unzip

# Handle 'not found' etc., special-casing *.html if 404
ErrorDocument 400 /404.php
ErrorDocument 401 /404.php
ErrorDocument 403 /404.php
ErrorDocument 404 /404.php

# Directory listings
AddType text/plain .message
ReadmeName .message
